__pycache__/
*.pyc

# data files
*.csv
*.xlsx
*.parquet

# keep sample dataset
!data/sample_data.csv

# aws installer
*.pkg

# logs
logs/
*.log

# terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# secrets
.aws/
.env

# mac
.DS_Store

# outputs
output/